<!-- Footer -->
<footer class="landing-footer">
  <div class="footer-wrap">
    <div class="footer-brand">
      <span class="footer-logo">Gonka</span>
    </div>
    <div class="footer-links">
      <div class="footer-col">
        <h4>Protocol</h4>
        <a href="/whitepaper.pdf" target="_blank">Whitepaper</a>
        <a href="/pow-security-analysis.pdf" target="_blank">Transformer-Based-Proof-of-Work</a>
      </div>
      <div class="footer-col">
        <h4>Legal</h4>
        <a href="/protocol-license.pdf" target="_blank">Gonka Protocol License</a>
        <!-- <a href="/patents.pdf" target="_blank">Patents</a> -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-socials">
      <a href="https://github.com/gonka-ai/gonka/" class="footer-social" target="_blank" aria-label="Github">
        <img src="/images/icons/github.svg" alt="Github" width="25" height="25" />
      </a>
      <a href="https://discord.com/invite/RADwCT2U6R" class="footer-social" target="_blank" aria-label="Discord">
        <img src="/images/icons/discord.svg" alt="Discord" width="25" height="25" />
      </a>
      <a href="mailto:hello@productscience.ai" class="footer-social" target="_blank" aria-label="Mail">
        <img src="/images/icons/mail.svg" alt="Mail" width="25" height="25" />
      </a>
      <a href="https://x.com/gonka_ai" class="footer-social" target="_blank" aria-label="X">
        <img src="/images/icons/twitter.svg" alt="X" width="25" height="25" />
      </a>
    </div>

    <div class="footer-bottom-links">
      <a href="/help" class="footer-link">Help</a>
      <a href="/transactions-and-governance" class="footer-link">Transactions & Governance</a>
      <!-- <a href="#" class="footer-link">Terms & Policies</a> -->
    </div>
  </div>
</footer>